<!DOCTYPE html>
<html>
<head>
	<title>Test Form</title>
</head>
<body>
<center><h2>Test Form</h2></center>
<center>
<form action="/api/pay/test" method="post">
	<input type="text" name="order_id" placeholder="order_id"><br>
	<input type="text" name="event_id" placeholder="event_id"><br>
	<input type="text" name="amount" placeholder="amount"><br>
	<input type="text" name="name" placeholder="name"><br>
	<input type="text" name="mobile" placeholder="mobile"><br>
	<input type="text" name="email" placeholder="email"><br>
	<input type="submit" name="Submit">
</form>
</center>
</body>
</html>